.logdiv{
        border: 2px dashed black;
        width: 300px;
        height: 300px;
        margin-top: 80px;
        box-shadow: 10px 10px 10px gray;
        background-color: crimson;
    
}
.heading
{
    background-color: crimson;
  font-size: 50px;
  color: white;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
}
.floter{
    position: fixed;
    bottom: 0;
    text-align: right;
    color: aliceblue;
    background-color: crimson;
    width: 100%;
}
h3{
    color: white;
}
img
{
    height: 400;
    margin-top: 50px;
}